<ion-header>
  <ion-toolbar>
    <ion-title>Ćwiczenia</ion-title>
  </ion-toolbar>
</ion-header>
 <ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Card</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <div class="container-fluid">
      <ion-row class="ion-justify-content-center">
        <ion-card *ngFor="let item of results">
          <img src={{item.img}} />
          <ion-card-header>
          <ion-card-title>{{item.nazwa}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          {{item.opis}}
          </ion-card-content>
          <ion-button (click)="OpenModal()" style="margin-top: -10px; margin-left: 35%">Open</ion-button>
        </ion-card>
      </ion-row>
  </div>
  </ion-content>
</ion-app> 



